<div class="flex flex-col gap-2">
  <div class="hidden grid-cols-[1fr_1fr_auto] gap-4 px-2 md:grid">
    <div class="ds-section-label">Key</div>
    <div class="ds-section-label">Value</div>
    <div class="md:col-span-1 text-center"></div>
  </div>

  @for (item of items(); track item; let index = $index) {
  <div class="flex flex-col gap-3 md:grid md:grid-cols-[1fr_1fr_auto] md:items-center md:gap-4">
    <input
      pInputText
      class="w-full font-mono"
      [disabled]="disableItem()(item, index)"
      [(ngModel)]="item.key"
      (ngModelChange)="itemChange.emit()"
    />
    <input
      pInputText
      class="w-full font-mono"
      [disabled]="disableItem()(item, index)"
      [(ngModel)]="item.value"
      (ngModelChange)="itemChange.emit()"
    />
    <div class="flex justify-end md:block md:text-center">
      <button
        pButton
        type="button"
        text
        icon="pi pi-times"
        [disabled]="disableItem()(item, index)"
        severity="danger"
        [attr.aria-label]="'Remove ' + context().toLowerCase() + ' item'"
        (click)="removeItem()(index, context())"
      ></button>
    </div>
  </div>
  }

  <div class="pt-2">
    <button
      pButton
      type="button"
      icon="pi pi-plus"
      [label]="addLabel()"
      [attr.aria-label]="addLabel()"
      [disabled]="isAddDisabled()(context())"
      severity="secondary"
      (click)="addItem()(context())"
    ></button>
  </div>
</div>
