@if (view.editorMode() === 'basic') {
<app-api-params-basic
  context="Headers"
  [items]="store.draft().headers"
  [addLabel]="'Add Header'"
  [isAddDisabled]="isAddDisabled"
  [addItem]="addItem"
  [removeItem]="removeItem"
  [disableItem]="disableItem"
  (itemChange)="store.refreshVariablePreview()"
></app-api-params-basic>
} @else {
<div class="space-y-2">
  @if (!view.headersJsonValid()) {
  <small class="type-footnote text-status-error flex items-center gap-1">
    <app-icon name="error" class="icon-xs" />
    Invalid JSON
  </small>
  }
  <app-json-editor
    name="headersJson"
    [ngModel]="view.headersJsonText()"
    (ngModelChange)="view.headersJsonText.set($event)"
    [ngModelOptions]="{ standalone: true }"
    (jsonValidChange)="view.headersJsonValid.set($event)"
    (parsedChange)="view.onHeadersJsonParsed($event)"
    [height]="280"
  ></app-json-editor>
</div>
}
